#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbaar
{
    position: sticky;
}

.navbaar ul
{
    list-style: none;
    background-color: #003B5C;
    overflow: auto;
    text-align: center;
}

.navbaar li
{
    margin: 10px 20px;
    display: inline-block;
}

.navbaar li a
{
    text-decoration: none;
    padding: 4px 3px;
    color: white;
    font-weight: bold; 
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.navbaar li a:hover
{
    background: lightgrey;
}

body
{
    background-image: url('../img/BackgroundTexture1.jpg');
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p
{
  color: black;
  text-align: center;
  padding: 2px;
}

.textboxBorder
{
  border: 3px solid black;
  width: fit-content;
}

.flexContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    /* align-items: center; */
}

.flexItem
{
    margin: 10px;
    display:block;
    justify-content: center;
    align-items: center;
}

.flexContainer p
{
  color: rgb(89, 89, 89);
  font-size: 17px;
}

.item1
{
    order: 1;
}

.item2
{
    order: 2;
}

.item3
{
  order: 3;
}

h1{
  text-align: center;
  color: rgb(89, 89, 89);
}

h2{
  text-align: center;
  color: rgb(89, 89, 89);
}

.mainTable
{
  width: 450px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right:auto;
}

.mainTable a:hover{
  background-color: lightgrey;
}

.tableBorder
{
  border-collapse: collapse;
  /* border: 3px, solid, black; */
}

td
{
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  text-align: center;
  padding: 3px;
  font-size: 18px;
}

.oddCol
{
  background-color: rgb(153, 2, 2);

}

.oddCol a
{
  color: white;
}
.evenCol
{
  background-color: white;
  color: black;
}

.evenCol a
{
  color: black;
}